@model IEnumerable<Blog.Models.Posts>

@{
    ViewData["Title"] = "Postagens";
}

<h1>Postagens</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Criar novo post</a>
</p>

<hr />

<div class="col">
    <!--div para a aplicação do Masonry-->
    <div class="row" data-masonry='{"horizontalOrder": true }'>
        @foreach (var item in Model)
        {
            <div class="col-3 my-3">
                <div class="card shadow">
                    <!-- Cabeçario do card-->
                    <a asp-action="Edit" asp-route-id="@item.IdPost" class="text-black text-center card-header">
                        @Html.DisplayFor(modelItem => item.NomePost)
                    </a>

                    <!-- Criação do copo do card-->
                    <div class="card-body">
                        @Html.DisplayFor(modelItem => item.ResumoPost)
                    </div>

                    <!-- Criação do footer do card-->
                    <div class="card-footer">
                        @Html.DisplayFor(modelItem => item.UsuarioCriador)
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<!--

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumoPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCriador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumoPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCriador)
            </td>
            <td>

                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPost">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPost">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPost">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
@section Scripts{
    <!-- Adição da biblioteca JavaScrit Masonry para criação de layout em grade -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
}